@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
h1, h2{
  color: #FFF;
}
body {
  display: flex;
  background-color: #2c1358; /* Updated background color */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  flex-direction: column; /* Change flex-direction to column */
  text-align: center; /* Center-align text */
}
#button3 {
  background-color: #2c1358; /* Button background color */
  color: #FFF; /* Button text color */
  border: none;
  padding: 10px 1px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
}
#button1 {
  position: absolute; /* Set position to absolute */
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 10px; /* Adjust the distance from the left */
  background-color: #673AB7;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
}

button:hover {
  background-color: #512DA8; /* Darker background color on hover */
}
