/* JS 1 Exercise 1 */



*, *::after, *::before {
    box-sizing: border-box;
}

#button1 {
    position: absolute; /* Set position to absolute */
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 10px; /* Adjust the distance from the left */
    background-color: #673AB7;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1em;
  }
:root {
    --hue: 100;
    --sturation: 0%;
    --foreground-color: hsl(var(--hue), var(--sturation), 75%);
    --background-color: hsl(var(--hue), var(--sturation), 20%);
}


body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.paddle {
    --position: 50;

    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
}


.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}


.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
}

.score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}


